
/*-------------------Navigation-------------------*/

.navbar-bg-color {
    background-color: rgb(194, 136, 83);
}

/*---------------Landing Hero Image---------------*/

.landing-image {
    background: url('../images/landing.jpeg') no-repeat fixed;
    height: 300vh;
    background-size: cover;

}

/*------Image-Overlay imported from w3school------*/

.image-overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}



/*-------------------Jumbotron--------------------*/

.jumbotron {
    background-color: transparent;

}

.jumbotron h1 {
    color:  rgb(248, 240, 197);
    text-align: center;
    margin-top: 5em;
}

/*----------Free Phone Consultaton Button----------*/

.call-button {
    margin-top: 5em;
    background-color: rgb(88, 160, 60);
    color: rgb(248, 240, 197);
    border-radius: 20px;
}

.call-button:hover,
.call-button:active {
    color: rgb(248, 240, 197);
    background-color: rgb(64, 112, 45);
    border-color: rgb(27, 46, 19);

}