@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tenor+Sans&display=swap');

/*-------------------Navigation-------------------*/

.navbar-bg-color {
    background-color: #d3b574;
}

#navbar-logo {
    border-radius: 10px;
}

#navbar-logo:hover,
#navbar-logo:active {
    background-color: #9e885b;
}

.nav-item {
    font-family: Tenor Sans, sans-serif;
    font-size: 20px;
    margin-right: 1.5em;
}

/*------------------Landing Page------------------*/

.landing {
    background: url('../images/landing.jpeg') no-repeat fixed;
    height: 100%;
    background-size: cover;
    position: relative;
}

/*------Image-Overlay inspired by w3school------*/

.image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.jumbotron {
    background-color: transparent;
    margin-top: 5em;
}
 
/*----------Free Consultaton Call Button----------*/

.consultation-btn p {
    font-size: 20px;
    font-family: Tenor Sans, sans-serif; 
    color: #f8f0c5;
    margin-left: 0.5em;
}

.call-us {
    margin-bottom: 50em;
}

.call-button {
    text-align: center;
    font-family: Tenor Sans, sans-serif;
    margin-left: 2em;
    background-color: #58a03c;
    color: rgb(248, 240, 197);
    border-radius: 20px;
}

.call-button:hover,
.call-button:active {
    color: #f8f0c5;
    background-color: #40702d;
    border-color: #1b2e13;

}

#phone {
    margin-right: 1em;
}

/*------------------ Our Services-----------------*/

.our-services {
    font-family: Cormorant, sans-serif;
    /* background-color: rgba(211, 181, 116, 0.4); */
    border-radius: 25px;
    color: #f8f0c5;
    margin-top: 150px;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 100px;

}

.our-services h1 {
    font-weight: 600;
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 20px;
    text-align: center;
}

.service-list {
    list-style-type: none;
}

.service-list li {
    padding-right: 2em;
    padding-bottom: 2em;
    line-height: 130%;
    font-size: 18px;
    min-width: 280px;
}

.service-list li i {
    font-size: 200%;
    padding-right: 1em;

}

/*----------------Ongoing Projects----------------*/

.current-projects {
    text-align: center;
    background-color: #f8f0c5;
    padding-top: 5em;
}

.current-projects h1 {
    font-family: Cormorant, sans-serif;
    color: #4b2b24;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.img-fluid {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px
}

.projects h2 {
    font-family: Cormorant, sans-serif;
    color: #4b2b24;
    margin-top: 0.5em;   
}

.projects p {
    font-family: Cormorant, sans-serif;
    color: #4b2b24;text-align: left;
    padding-top: 0.5em;
    margin-bottom: 5em;
}
