@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Tenor+Sans&display=swap');

/* Media Query to remedy white space on the smallest screens.  */

@media screen and (max-width: 350px) {
    
body {
    width: 112%;
}

/*---------------------Fonts----------------------*/

}

body {
    font-family: 'Cormorant', sans-serif;
}

/*-------------------Navigation-------------------*/


.navbar-bg-color {
    background-color: #d3b574;
}

#navbar-logo {
    border-radius: 10px;
    margin: 0;
}

#navbar-logo:hover,
#navbar-logo:active {
    background-color: #9e885b;
}

.nav-item {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 1.25em;
    padding-right: 1.5em;
}

/*------------------Landing Page------------------*/

.landing {
    background: url('../images/landing.jpeg') no-repeat fixed;
    height: 100%;
    background-size: cover;
    position: relative;
}

/*------Image-Overlay inspired by w3school------*/

.image-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.jumbotron {
    background-color: transparent;
    margin-top: 5em;
}

.jumbotron img {
    height: 100%;
    width: 100%;
}
 
/*----------Free Consultaton Call Button----------*/

.consultation-btn p {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px; 
    color: #f8f0c5;
    margin-left: 1.5em;
}

.call-us {
    margin-bottom: 50em;
}

.call-button {
    text-align: center;
    font-family: 'Tenor Sans', sans-serif;
    margin-left: 2em;
    background-color: #58a03c;
    color: rgb(248, 240, 197);
    border-radius: 20px;
}

.call-button:hover,
.call-button:active {
    color: #f8f0c5;
    background-color: #40702d;
    border-color: #1b2e13;

}

.phone {
    margin-right: 1em;
}

/*------------------ Our Services-----------------*/

.our-services {
    /* background-color: rgba(211, 181, 116, 0.4); -----------TO BE DECIDED-----------!*/
    border-radius: 25px;
    color: #f8f0c5;
    margin-top: 9em;

    margin-bottom: 6em;

}

.our-services h1 {
    font-weight: 600;
    font-size: 3em;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-left: 0.5em;
    text-align: center;
}

.service-list {
    list-style-type: none;
}

.service-list li {
    padding-right: 2em;
    padding-bottom: 2em;
    line-height: 130%;
    font-size: 1.3em;
    min-width: 300px;
}

.service-list li i {
    font-size: 200%;
    padding-right: 1em;

}

/*----------------Ongoing Projects----------------*/

.current-projects {
    text-align: center;
    background-color: #f8f0c5;
    padding-top: 5em;
}

.current-projects h2, .about h2 {
    color: #4b2b24;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 0.5em;
    font-weight: 600;
    font-size: 3em;
}

.img-fluid {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px
}

.projects h3 {
    color: #4b2b24;
    margin-top: 0.5em;
}

.projects p {
    color: #4b2b24;
    text-align: left;
    margin-bottom: 5em;
    font-size: 1.3em;
}

/*--------------------About Us--------------------*/

.about-background{
    background: url('../images/comb.jpg') no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.text-wrapper {
    border-radius: 25px;
    background-color: rgba(248, 240, 197, 0.7);
    max-width: 800px;
    min-width: 280px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;

}

.about {
    text-align: center;
}

.about p {
    color: #4b2b24;
    font-weight: 600;
    font-size: 1.5em;
    text-align: left;
    padding: 0 2em 5em 2em;
}

/*--------------------Queries--------------------*/

.queries-background {
    background-color: #f8f0c5;
    height: 100%;
    width: 100%;
}

.queries-background h2 {
    color: #4b2b24;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: 600;
    text-align: center;
    padding: 5em 0em 0em 0em;

}

.form{
    list-style-type: none;
    text-align: center;
    padding: 1em 0em 30em 0em;
    margin: 0px;
}

.form li {
    padding: 1em;
}

label {
    font-size: 1.5em;
    color: #4b2b24;
}

input, textarea {
    padding: 1em 7.2em 0em 1em;
    border: 1px solid #4b2b24;
    font-size: 1em;
    font-family: 'Tenor Sans', sans-serif;
}

.reset, .send {
    font-family: 'Tenor Sans', sans-serif;
    padding: 10px 40px 10px 40px;
    margin: 1em 0.6em 0em 0.6em;
    display: inline;
    border-radius: 2px;
    font-weight: 700;
    color: #f8f0c5;
    background-color: rgb(184, 55, 23);
    font-size: 1em;
}

.send {
    background-color: #40702d
}

/*-------------------Footer-------------------*/

.contact, .social{
    background-color: #4b2b24;
    color: #f8f0c5;
    padding-left: 1em;
    padding-bottom: 2em;
    font-family: 'Tenor Sans', sans-serif;
} 

.contact h2 {
    font-size: 1.8em;
    padding-top: 1.7em;
    padding-bottom: 1em;
}

.contact p {
    font-size: 1em;
    padding-top: 3em;
}

.contact span {
    font-size: 1em;
}

.contact-icon {
    color: #f8f0c5;
    font-size: 1.2em;
    padding-right: 0.5em;
}

.contact a {
    padding-left: 0.5em;
}


.social-icon {
    font-size:  2em;
    color: #f8f0c5;
    margin: 2em 0 0 1.5em;
}